<div [formGroup]="form">
    <label [attr.for]="question.key">{{question.label}}</label>
  
    @switch (question.controlType) {
        @case ('text') {
            <input 
            [formControlName]="question.key"
            [id]="question.key" 
            [type]="question.type">
        }
        @case ('select') {
            <select [formControlName]="question.key" [id]="question.key">
                <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
            </select>
        }
    }
  
    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>