
.accordion-container {
  max-height: 200px;
  overflow-y: auto;

  .field {
    &__items {
      .item {
        input {
          display: none;
        }

        label {
          display: flex;
          justify-content: space-between;
        }

        label:hover {
          background-color: gray;
        }
      }
    }
  }
}