<mat-accordion *ngIf="fieldData as field" >
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ placeholder }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div [formGroup]="form" class="brand__items">
      @for (item of field.content.brands; track item.code) {
        <div class="item">
          <input type="radio" 
            formControlName="brand" 
            [value]="item.code" 
            [id]="item.code"
            >
          <label [for]="item.code">
            <p>{{ item.code }}</p>
            <p>{{ item.amount.formattedValue }}</p>
          </label>
        </div>
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>