@if (field && form) {
  <div class="accordion-container">
    <mat-accordion>
      <mat-expansion-panel 
        [expanded]="panelOpenState()" 
        (opened)="panelOpenState.set(true)" 
        (closed)="panelOpenState.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ (field.value || field.placeholder )| titlecase }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div [formGroup]="form" class="field__items">
          @for (item of field.content; track item.code) {
            <label [for]="item.code" class="item">
              <input type="radio" 
                formControlName="{{ field.field }}" 
                [value]="item.code" 
                [id]="item.code"
              >
              <p class="item__name">{{ item.name | titlecase }}</p>
              <p class="item__value">
                Up to <span>{{ item.amount | currencyBySite }}</span>
              </p>
            </label>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}
