@use 'abstracts' as *;

.cart {
    max-width: 1200px;
    margin: 48px auto;
    @extend %montserrat-regular;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 24px;
    
        @include respond-to(xl) {
            grid-template-columns: 1fr 408px;
            gap: $space-3xl;
        }
    }
}