<div class="empty-cart">
    <div class="empty-cart__icon">

    </div>
    <div class="empty-cart__header-text">
        Your cart is empty
    </div>
    <div class="empty-cart__subtitle">
        Sign in to your account to view your saved items or continue shopping
    </div>
    <div class="empty-cart__controls">
        <div class="empty-cart__controls__shopping">
            <button></button>
        </div>
        <div class="empty-cart__controls__sign-in">
            <button></button>
        </div>
    </div>
</div>