<div class="menu-groups">
  @for (group of groups; track group) {
    <div class="group">
      <div class="group__header">
        <div class="group__header__name">
          {{ group.groupName }}
        </div>
        <span class="group__header__icon" (click)="toggleAccordion(group?.groupName)">
          @if (group.isExpanded) {
            <i class="bi bi-plus"></i>
          } @else {
            <i class="bi bi-dash"></i>
          }
        </span>
      </div>
      @if (group.isExpanded) {
        <div class="group__items">
          @for (item of group.group; track item) {
            <div class="item">
              <input 
                type="checkbox"
                [id]="item.name"
                [(ngModel)]="item.isSelected"
                (change)="onSelect($event)"
                >
              <label [for]="item.name">{{ item.name }}</label>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
