<div class="products-menu__container">
    <div class="group" *ngFor="let group of groups">
        <div class="group-header">
            <p class="group-header-title">
                {{ group.groupName }}
            </p>
            <span class="group-header-icon"
                (click)="toggleAccordion(group?.groupName)">
                <i 
                    *ngIf="group.isExpanded; else collapsed"
                    class="bi bi-plus">
                </i>
                <ng-template #collapsed>
                    <i class="bi bi-dash"></i>
                </ng-template>
            </span>
        </div>
        <ng-container *ngIf="group.isExpanded">
            <div *ngFor="let item of group.group"
                class="group-content">
                <div class="group-content-item">
                    <input 
                        type="checkbox" 
                        id="{{ item.name }}"
                        [(ngModel)]="item.isSelected"
                        (change)="onSelect($event)">
                    <label for="{{ item.name }}">{{ item.name }}</label>
                </div>
            </div>
        </ng-container>
    </div>    
</div>
