.products-menu__container {
    background-color: aliceblue;
    padding: 24px 16px;
}

.group {

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;

        &-title {

        }

        &-icon {

        }
    }

    &-content {
        padding: 8px 16px;
        background-color: rgb(230, 172, 172);
        display: flex;

        &-item {
            width: 100%;
            background-color: aquamarine;

            input {
                height: 16px;
                width: 16px;
            }

            label {
                padding-left: 8px;
                text-align: left;
                background-color: white;
                width: calc(100% - 16px - 4px);
                font-size: 16px;
                display: inline-block;
            }
        }
    }

    
}