.product {
    background-color: aquamarine;
    height: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    border-radius: 12px;

    &-name {
        height: 48px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    &-image {
        padding: 16px 0;

        img {
            max-width: 200px;
        }
    }
    
    &-colors {
        display: flex;
        padding: 8px;

        .dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 5px;
        }

    }

    &-storage {
        padding: 8px;

        &-size {
            padding: 8px;
        }

        &-clicked {
            
        }
    }

    &-rating {

    }

    &-price {
        padding: 8px;

    }
}