
<div *ngIf="product" class="product">
  <div class="product__add-to-wishlist">
    <i class="bi bi-heart"></i>
  </div>
  <div class="product__name">
    {{ product.name }}
  </div>
  <div class="product__image">
    @if (product.imageUrl) {
      <img src="{{ product.imageUrl }}" alt="">
    } @else {
      <img src="assets/images/image-placeholder.svg" alt="">
    }
  </div>
  <div class="product__colors">
    @for (color of product.colorsAvailable; track color) {
      <span class="product__colors__dot" [ngStyle]="{'background-color': color}"></span>
    }
  </div>
  <div class="product__storage">
    Specs
  </div>
  <div class="product__rating">
    Product Rating
  </div>
  <div class="product__price">
    <del *ngIf="product.priceOld">{{ product.priceOld.amountFormatted }}</del>
    <span>{{ product.priceNow.amountFormatted }}</span>
  </div>
  <div class="product__promotions">
    Promo
  </div>
  <div class="product__cta">
    <button class="product__cta-btn">
      {{
        product.isAvailable
          ? "Add to cart"
          : "Receive stock alerts"
      }}
    </button>
  </div>
</div>
