@import 'src/styles/_variables-space.scss';
@import 'src/styles/_font-styles.scss';
@import 'src/styles/_breakpoints.scss';

// color variables
$white: #fdfdfd;
$lightblue: #f5f7fe;
$blue: #2089ff;
$darkblue: #016bea;

