@use 'abstracts' as *;

.product-container {
    display: grid;
    grid-template-areas:
        "prod-details prod-controls"
        "prod-image prod-controls";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 120px 120px;
    row-gap: $space-md;

    @include respond-to(xl) {
        grid-template-areas:
            "prod-image prod-details prod-controls"
            "prod-image prod-details prod-controls";
        grid-template-columns: 3fr 4fr 2fr;
    }

    .product-image {
        grid-area: prod-image;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .product-details {
        grid-area: prod-details;

        font-size: $font12;
        p {
            margin-bottom: $space-xxs;
        }

        &-name {
            @extend %montserrat-bold;
            font-size: $font18;
            margin-bottom: $space-sm !important;
        }

    }

    .product-controls {
        grid-area: prod-controls;

        display: grid;
        grid-template-rows: 2fr 1fr 2fr;
        justify-items: end;

        .product-remove {
            button {
                border: none;
                background-color: $white;
            }
        }

        .product-qty {
            &__decrement,
            &__increment {
                width: $space-xl;
                height: $space-xl;
                border-width: 1px;
            }

            &__input {
                width: $space-4xl;
                height: $space-xl;
                border-left: none;
                border-right: none;
                border-width: 1px;
                padding: $space-3xs $space-xs;
            }

            &__decrement {
                border-top-left-radius: $space-sm;
                border-bottom-left-radius: $space-sm;
            }

            &__increment {
                border-top-right-radius: $space-sm;
                border-bottom-right-radius: $space-sm;
            }
        }
    }

}