@use 'abstracts' as *;

.step-one-container {
  display: grid;
  row-gap: 36px;

  .step-one-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .postal-code {
    &__title {
      font-size: 14px;
    }

    &__input {
      display: grid;
      grid-template-columns: 1fr 120px;
      gap: 12px;

      input {
        padding: 12px 0 8px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
      }

      input:focus {
        outline: none;
        box-shadow: none;
      }

      button {
        border-radius: 24px;
        border: none;
        background-color: black;
        color: white;
      }

      .button--invalid {
        background-color: gray;
      }

    }

    .postal-code-validation {
      padding: 4px 0;
      .error-message {
        color: red;
      }
  
      .success-message {
        color: $blue;
      }
    }
  }

  .category {
    &__items {
      display: flex;
      justify-content: center;
      gap: 8px;

      .item {
        border: 1px solid lightgray;
        border-radius: 4px;
        height: 100px;
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        &__icon {
          font-size: 40px;
        }
      }

      .item--selected {
        border: 3px solid $blue;
      }

      .item__input {
        display: none;
      }
    }
  }

  .field {
    &__title {
      padding-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .step-one-summary {
    background-color: $lightgray;
    padding: 16px 24px;

    .summary-header {
      font-weight: bold;
      padding-bottom: 8px;
      border-bottom: 1px solid lightgray;
    }

    .summary-content {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;

      &__amount {
        color: $blue;
      }
    }
  }

  .step-one-description {
    .description-title {
      font-size: 24px;
      font-weight: bold;
    }

    .description-content {
      .item {
        display: flex;
        gap: 24px;
        padding: 24px 0;
        border-bottom: 1px solid lightgray;
        align-items: center;

        &__number {
          font-size: 24px;
          font-weight: bold;
        }

        &__text {
          font-size: 14px;
        }
      }

    }

    .description-note {
      margin: 36px;
      font-size: 14px;
      text-align: center;
    }
  }

  .disabled-section[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}