.tradein-container {
  position: fixed;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  background-color: white;
  // max-width: 600px;
  border-radius: 12px;

  .stepper-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
      font-size: 24px;
      white-space: nowrap;
    }
  }
  
  .step-indicators {
    display: flex;
    gap: 4px;
  
    .step {
      border-bottom: 4px solid lightgray;
      width: 150px;
    }

    .active,
    .completed {
      border-bottom: 4px solid black
    }
  }
}

