.tradein-container {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  background-color: white;
  border-radius: 12px;
  max-height: 80vh;
  overflow-y: auto;

  .stepper-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
      font-size: 24px;
      white-space: nowrap;
    }
  }
  
  .step-indicators {
    display: flex;
    gap: 4px;
  
    .step {
      border-bottom: 4px solid lightgray;
      width: 150px;
    }

    .active,
    .completed {
      border-bottom: 4px solid black
    }
  }

  .step-content {
    &__footer {
      margin: 24px;
      padding: 12px;
      background-color: lightgray;
      font-size: 12px;
      border-radius: 8px;
    }
  }
}

