<div *ngIf="tradeIn$ | async as tradeIn" class="tradein-container">
  <div class="stepper-container">
    <div class="title"> {{ steps[currentStep-1].title }}</div>
    <div class="step-indicators">
      @for (step of steps; let i = $index; track step) {
        <div class="step" [class.active]="i+1 === currentStep" [class.completed]="i+1 < currentStep"></div>
      }
    </div>
    <div class="step-content">
      <div class="step-content__component">
        @if (currentStep === 1) {
          <app-trade-in-step-one 
            [stepOneFields]="tradeIn.stepOne"
            [description]="tradeIn.stepOneDescription"
          >
          </app-trade-in-step-one>
        } @else if (currentStep === 2) {
          <app-trade-in-step-two>
          </app-trade-in-step-two>
        } @else if (currentStep === 3) {
          <app-trade-in-step-three></app-trade-in-step-three>
        } @else {
          <app-trade-in-step-four></app-trade-in-step-four>
        }
      </div>
      <div class="step-content__footer">
        {{ tradeIn.footerText }}
      </div>
    </div>
  </div>
  <div class="step-content__buttons">
    @if (currentStep === 1) {
      <button class="button-close" (click)="close()">
        Close
      </button>
    }
    @if (currentStep > 1) {
      <button 
        class="button-back"
        (click)="prevStep()"
      >
        Back
      </button>
    }

    <button 
      class="button-back"
      (click)="nextStep()" 
      [disabled]="currentStep === steps.length"
    >
      Continue
    </button>
  </div>
</div>