@import 'src/styles/globalStyles.scss';

.nav-bar {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  font-size: 14px;
  font-family: "Roboto", sans-serif;

  @include respond-to(lg, down) {
    padding: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .shop-name {
    font-size: 24px;
  }

  .shop-categories {
    display: flex;
    gap: 12px;
    align-items: center;
    @include respond-to(lg, down) {
      display: none;
    }
  }

  .shop-info {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;

    .bi {
      color: black;
    }

    .bi-search {
      font-size: 22px;
    }

    .bi-cart2 {
      font-size: 24px;
    }

    .bi-person {
      font-size: 26px;
    }
  }

  .shop-info__support,
  .shop-info__business {
    @include respond-to(xl, down) {
      display: none;
    }
  }
}
