<div class="nav-bar">
    <div class="shop-name">ORANGE</div>
    <div class="shop-categories desktop">
        <ng-container *ngFor="let category of categories">
            <span class="category">{{ category }}</span>
        </ng-container>
    </div>
    <div class="shop-info">
        <div class="shop-info__support desktop">Support</div>
        <div class="shop-info__business desktop">For Business</div>
        <div class="shop-info__search">
            <i class="bi bi-search"></i>
        </div>
        <div class="shop-info__cart"
            (click)="goToCart()">
            <i class="bi bi-cart2"></i>
        </div>
        <div class="shop-info__account">
            <i class="bi bi-person"></i>
        </div>
    </div>
</div>