@import 'src/assets/styles/spaceTokens.scss';


.products-container {
    display: flex;
    padding: $space-md 0;
}

.products-menu-container {
    width: 25%;
}

.products-item-container {
    width: 75%;
    padding: 0px $space-md;
    display: grid;
    gap: $space-md;
}

@media (min-width: 600px) {
    .products-item-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .products-item-container { grid-template-columns: repeat(3, 1fr); }
}