.products-container {
    display: flex;
}

.products-menu-container {
    width: 25%;
}

.products-item-container {
    width: 75%;
    padding: 0px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}