@use 'abstracts' as *;

.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "items"
    ;

  padding: 24px;
  gap: 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(lg) {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "title title"
      "menu items"
      ;
  
    padding: 24px;
    gap: 24px;
  }

  &__title {
    grid-area: title;
    text-align: center;
  }

  &__menu-container {
    grid-area: menu;
    display: none;

    @include respond-to(lg) {
      display: unset;
    }
  }

  &__items-container {
    grid-area: items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }
}