<div *ngIf="insurance?.details as details" class="container">
    <div class="title">
        <img src="" alt="">
        <p>
            {{ details?.title }}
        </p>
        <button (click)="close()">
            <i class="bi bi-x"></i>
        </button>
    </div>
    <div class="subtitle">
        {{ details?.subtitle }}
    </div>
    <form [formGroup]="form" (ngSubmit)="addToCart()">
        <div *ngFor="let plan of details?.plans" class="plan">
            <div class="plan__selection">
                <input type="radio" [id]="plan?.code" formControlName="selectedPlan" [value]="plan?.code">
            </div>
            <label [for]="plan?.code">
                <div class="plan__details">
                    <div class="plan__details-name">
                        {{ plan?.name }}
                    </div>
                    <div class="plan__details-code">
                        {{ plan?.code }}
                    </div>
                </div>
                <div class="plan__amount">
                    {{ plan?.amount }}
                </div>
            </label>
        </div>
        <div class="tnc">
            <div class="tnc__maintext">
                {{ details.tnc.mainText }}
            </div>
            <div class="tnc__subtext">
                <input type="checkbox" id="tnc" formControlName="tnc">
                <label for="tnc">
                    <span [innerHTML]="details?.tnc?.subtext | safeHtml"></span>
                </label>
            </div>
        </div>
        <div class="controls">
            <button class="controls__cancel" (click)="close()">Cancel</button>
            <button class="controls__submit" type="submit" [disabled]="form.invalid">Add to cart</button>
        </div>
    </form>
</div>
