@import 'src/styles/_globalStyles.scss';

.container {
    @extend %montserrat-regular;
    background: $white;
    max-width: 900px;
    padding: $space-lg;
    border-radius: 24px
}

.title {
    @extend %montserrat-bold;
    font-size: $font24;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;

    p {
        align-self: center;
    }

    button {
        border: none;
        background-color: $white;

        i {
            font-size: $font36;
        }
    }
}

.subtitle {
    padding: $space-md 0;
}

.plan {
    margin: $space-md 0;
    padding: $space-md;
    display: grid;
    grid-template-columns: 1fr 14fr;
    background-color: $lightblue;

    &__selection {
        align-self: center;

        input {
            height: 20px;
            width: 20px;
        }
    }

    label {
        display: grid;
        grid-template-columns: 10fr 2fr;

        .plan__details {
            display: grid;
            row-gap: $space-xs;
        }

        .plan__amount {
            justify-self: end;
        }
    }
}

.tnc {
    padding: $space-md 0;

    &__maintext {
        @extend %montserrat-bold;
    }

    &__subtext {
        display: grid;
        grid-template-columns: 1fr 23fr;

        input {
            margin: $space-md;
            height: 20px;
            width: 20px;
        }

        label {
            align-self: center;
        }
    }
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $space-md;

    button {
        padding: 12px;
        border-radius: 24px;
        border-width: 1px;
        background-color: $white;
    }

    &__submit:not(:disabled) {
        background-color: $blue !important;
        border: none;
        color: $white;
    }
}
