@use 'abstracts' as *;

.product {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 24px;
  background-color: $offwhite;
  border-radius: 24px;

  &__add-to-wishlist {
    align-self: flex-end;
  }

  &__name {
    height: 24px;
  }

  &__image {
    img {
      height: 250px;
    }
  }

  &__colors {
    height: 24px;
    display: flex;

    &__dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 5px;
    }
  }

  &__storage {
    height: 24px;

  }

  &__rating {
    height: 24px;
  }

  &__price {
    height: 24px;
  }

  &__promotions {
    height: 24px;
  }

  &__cta {
    height: 48px;
    width: 80%;

    &-btn {
      padding: 12px 24px;
      border: 1px none;
      border-radius: 24px;
      background-color: black;
      color: white;
      width: 100%;
    }
  }
}